
@font-face {
  font-family: "CustomRubiks";
  src: url("../public/rubik/Rubik-VariableFont_wght.ttf");
  /* src: url("../public/rubik/Rubik-Italic-VariableFont_wght.ttf"); */
  }

.App {
  text-align: center;
}

/* Nav Bar  */

.App-header {
  /* Font Stylings */
  font-family: "CustomRubiks";
  background-color: black;
  color: white;
  font-size: calc(10px + 1vmin);
  
  /* Positioning */
  display: flex;
  flex-direction: column;
}

.nav-bar-padding {
  padding: 10px 10% 10px 10%;
}

.Nav-bar {
  /* font-size: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.right-nav-bar {
  /* font-size: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.App-footer {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer > p {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 10px 30px 0px 50px;
  color: white;
  text-decoration: none;
}

.checkmark {
  width: 10px;
}

.spotify-status {
  font-size: 10px;
  display: flex;
  justify-content: right;
  /* margin-right: 30px; */
  margin: -64px 30px 0px 0px;
}

/* Body */

.render-body {
  /* margin: 0px 10% 0px 10%;
  padding: 10px 10% 10px 10%;
  background-color: rgb(5, 5, 5);
  background-image: url(../public/paper-texture.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  height: 200%; */
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  color: white;
  font-family: CustomRubiks, Arial, Helvetica, sans-serif ;
}

.background-image {
  /* background-image: url(../public/green-bokeh-1.jpg); */
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.text-body {
  margin: 0px 10% 0px 10%;
  padding: 10px 10% 10px 10%;
}

.green-pink-bg {
  background-color: #cdf564;
  color:#F037A5;
}

.pink-white-bg {
  background-color: #F037A5;
  color:#cdf564;
}

/* Headers */

h1 {
  font-size: calc(30px + 4vmin);
}

h2 {
  font-size: 45px;
  font-weight: 100px;
}

/* Buttons and Links */

button {
  border-style: none;
  margin: 0 auto;
  margin-bottom: 5px;
  background-color: inherit;
  text-decoration: none;
  color: inherit;
  padding: 15px 20px;
  text-align: center;
  display: block;
  border-radius: 15px 15px 15px 15px;
  font-size: calc(12px+2vmin);
  /* line-height: 1; */
  text-transform: none;
  font-weight: 400;
}

.green-pink-btn {
  color: #cdf564;
  background-color: #F037A5;
  padding: 16px 34px;
  text-align: center;
  border-radius: 500px;
  font-size: calc(12px+2vmin);
  line-height: 1;

  /* Font Special Characteristics */
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pink-bubble-bg {
  background-image: url("../public/circle-graphic-overlay.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.button-to-link {
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  padding: 15px 20px;
  text-align: center;
  display: block;
  border: 2px solid silver;
  border-radius: 5px 5px 5px 5px;
  font-size: 30px;
  line-height: 1;
  text-transform: none;
  font-weight: 400;
  text-decoration: none;
}

/* Landing Page */

#landing-page {
  /* Font */
  height: calc(250px + 50vmin);

  /* Flex Box */
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  
}

#grid-2 {
  height: calc(250px + 50vmin);
  
  display: flex;
  flex-direction: inherit;
  justify-content: center;
}

#grid-3 {
  background-color: #cdf564;
  min-height: calc(250px + 50vmin);
  color:#F037A5;
  display: flex;
  flex-direction: inherit;
  justify-content: center;
}

/* About Page */

#about-grid2 {
  /* Sizing */
  min-height: 300px;

  /* Background Image Styling */
  background-image: url(../public/streaming-bg-image.jpg);
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size: cover;
}

/* CREATE.js page */

#form-creation {
  min-height: 650px;
}

.album-display {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

.album-image-display {
  width: 150px;
  margin: 0px 15px 0px 15px;
}

.selected-album-image {
  width: 300px;
  filter: drop-shadow(0 0 0.75rem #282c34);
}

.final-screen {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.large-input {
  /* font stylings */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-stretch: wider;
  font-size: 175px;
  color: inherit;
  font-weight: 500px;
  text-align: center;
  /* box and other stylings */
  border: none;
  border-radius: 10px 10px 0px 0px;
  width: 275px;
  background-color: inherit;
  outline: none;
}

.track-form {
  width: 350px;
}

/* tables */

.table-icon {
  width: 100px;
}

.top-tracks-display {
  margin: 0 auto;
  width: 75%;
  border-radius: 10px 10px 0px 0px;
  background-color: black;
  color: white;
  filter: drop-shadow(0 0 0 0.75 black);
  border: 2px solid #282c34;
  filter: drop-shadow(0 0 0.75rem #282c34);
}

.table-box {
  border: 2px solid #282c34;
}
/* .top-tracks-display > tbody > tr {
  display: flex;
  flex-direction: row;
} */
/* Login pages */

.autho-form {
  display: flex;
  flex-direction: column;
}

/* image sizes */

.site-logo {
  height: 120px;
}

.logo-in-nav-bar {
  display: flex;
}

p {
  font-size: 120%;
}

/* Model Section */

.bg-modal {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.69);
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 400px;
  height: 500px;
  border-radius: 4px;
  text-align: center;
  padding: 40px;
  position: relative;
  border: '1px solid #ccc';
  background-color: white;
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  padding: 0px;
}


/* Animations */

.nav-item:hover {
  color:#F037A5
}

.modal-close:hover {
   color:#484848;
   font-size: 42.5px;
  /* Font-size hover doesn't work when
  position is absolute. Something to fix
  for a later time */
  /* font-size: 46px; */
}

@keyframes fadeAndScaleIn {
  0% {
    opacity: 0;
    transform: scale3d(.75,.75,1);
  }

  70% {
    opacity: 0;
    transform: scale3d(.75,.75,1);
  }

  100% {
    opacity: 1;
    transform: scale3d(1,1,1)
  }
}