
@font-face {
  font-family: "CustomRubiks";
  src: url("../public/rubik/Rubik-VariableFont_wght.ttf");
  /* src: url("../public/rubik/Rubik-Italic-VariableFont_wght.ttf"); */
  }

.App {
  text-align: center;
}

/* Nav Bar  */

.App-header {
  background-color: black;
  display: flex;
  flex-direction: column;
  /* align-items: right;
  justify-content: right; */
  font-size: calc(14px + 1vmin);
  color: white;
  height: calc(100px + 5vmin)
}

.Nav-bar {
  /* font-size: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.right-nav-bar {
  /* font-size: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.App-footer {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-item {
  margin: 10px 30px 0px 50px;
  color: white;
  text-decoration: none;
}

.checkmark {
  width: 10px;
}

.spotify-status {
  font-size: 10px;
  display: flex;
  justify-content: right;
  /* margin-right: 30px; */
  margin: -64px 30px 0px 0px;
}

/* Body */

.render-body {
  /* margin: 0px 10% 0px 10%;
  padding: 10px 10% 10px 10%;
  background-color: rgb(5, 5, 5);
  background-image: url(../public/paper-texture.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  height: 200%; */
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  color: white;
  font-family: CustomRubiks, Arial, Helvetica, sans-serif ;
}

.background-image {
  /* background-image: url(../public/green-bokeh-1.jpg); */
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.text-body {
  margin: 0px 10% 0px 10%;
  padding: 10px 10% 10px 10%;
}

/* Headers */

h1 {
  font-size: calc(30px + 4vmin);
}

h2 {
  font-size: 45px;
  font-weight: 100px;
}

/* Buttons and Links */

.react-link-to-button {
  color: #cdf564;
  background-color: #F037A5;
  padding: 16px 34px;
  text-align: center;
  border-radius: 500px;
  font-size: calc(12px+2vmin);
  line-height: 1;

  /* Font Special Characteristics */
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

button {
  margin: 0 auto;
  margin-bottom: 5px;
  background-color: inherit;
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  display: block;
  border: 2px solid silver;
  border-radius: 15px 15px 15px 15px;
  font-size: calc(12px+2vmin);
  line-height: 1;
  text-transform: none;
  font-weight: 400;
}

.button-to-link {
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  padding: 15px 20px;
  text-align: center;
  display: block;
  border: 2px solid silver;
  border-radius: 5px 5px 5px 5px;
  font-size: 30px;
  line-height: 1;
  text-transform: none;
  font-weight: 400;
}

/* Landing Page */

#landing-page {
  background-color: #cdf564;
  background-image: url("../public/circle-graphic-overlay.png");
  background-repeat: no-repeat;
  background-size: cover;

  /* Font */
  color: #F037A5;
  height: calc(250px + 50vmin);

  /* Flex Box */
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  
}

#grid-2 {
  height: calc(250px + 50vmin);
  
  display: flex;
  flex-direction: inherit;
  justify-content: center;
}

#grid-3 {
  background-color: #cdf564;;
  height: calc(250px + 50vmin);
  
  display: flex;
  flex-direction: inherit;
  justify-content: center;
}

/* CREATE.js page */

.album-display {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

.album-image-display {
  width: 150px;
  margin: 0px 15px 0px 15px;
}

.selected-album-image {
  width: 300px;
  filter: drop-shadow(0 0 0.75rem #282c34);
}

.final-screen {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.large-input {
  /* font stylings */
  font-size: 175px;
  color: black;
  font-weight: 500px;
  text-align: center;
  /* box and other stylings */
  border: 2px solid rgba(132, 129, 129, 0.799);
  border-radius: 10px 10px 0px 0px;
  width: 275px;
}

.track-form {
  width: 350px;
}

/* tables */

.table-icon {
  width: 100px;
}

.top-tracks-display {
  margin: 0 auto;
  width: 75%;
  border-radius: 10px 10px 0px 0px;
  background-color: black;
  color: white;
  filter: drop-shadow(0 0 0 0.75 black);
  border: 2px solid #282c34;
  filter: drop-shadow(0 0 0.75rem #282c34);
}

.table-box {
  border: 2px solid #282c34;
}
/* .top-tracks-display > tbody > tr {
  display: flex;
  flex-direction: row;
} */
/* Login pages */

.autho-form {
  display: flex;
  flex-direction: column;
}

/* image sizes */

.site-logo {
  height: 120px;
}

.logo-in-nav-bar {
  display: flex;
}

p {
  font-size: 120%;
}

/* Model Section */

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.69);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}
